<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/nomalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Results</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Name: <%=data.name%></h1>
        <h2 class="text-center">Location: <%=data.location%></h2>
        <h3 class="text-center">Language: <%=data.language%></h3>
        <h5 class="text-center">Comment: <%=data.comment%></h5>
    </div>
</body>
</html>