<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cars</title>
	<link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/nomalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" 
     href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
	<div class="container">
        <h1>This is Cars</h1>
        <img src="images/1.jpg" width="300px" height="300px">
        <img src="images/2.jpg" width="300px" height="300px">
        <img src="images/3.jpg" width="300px" height="300px">
        <button><a href="/">Home</a></button>
        <button><a href="/cats">Cats</a></button>
        <button><a href="/form">Form</a></button>
    </div>
</body>
</html>