<!DOCTYPE html>
<html>
<head>
    <!--Note to self... MAKE SURE YOU ONLY USE ONE SCRIPT TAG FOR JQUERY!-->
    <title>Login and Registration</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
    <h1 style="text-align: center;">Secret Info</h1>
    <h3>Hello <%=  current_user[0].first_name %>!</h3>
    <fieldset>
            <legend>Secret</legend>
            <h2> <%= details[0].secret %> </h2>
            <% for(const detail of details) { %>
                <% for (const comment of detail.comments) { %>
                    <p><%= comment.comment %></p>
                <% } %>
            <% } %>
            <form action="/secrets/:id/comments" method="post">
                <fieldset style="width: 85%; margin-left: auto; margin-right: auto;">
                    <legend style="text-align: center;"><h3>Comment on this secret</h3></legend>
                    <label for="comment">Your Comment: </label>
                    <textarea style="width: 100%" rows="4" type="text" name="comment" id=comment></textarea>
                    <br>
                    <br>
                    <input type="submit" value="Post comment">
                    <br>
                </fieldset>
            </form>
        </fieldset>
</body>
</html>